@model PoloniexWeb.Models.StatisticModel
@{
    ViewBag.Title = "Mining";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var endDate = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "FLE Standard Time").ToString("yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.GetCultureInfo("ru-RU"));
    var startDate = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow.AddHours(-24), "FLE Standard Time").ToString("yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.GetCultureInfo("ru-RU"));
}
<link href="~/Plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
<main id="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="box box-primary hash-rate animated fadeIn">
                        <div class="box-header with-border">
                            <h3 class="box-title">Фильтр</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="input-group" style="width:100%">
                                <button type="button" style="width:100%" class="btn btn-primary btn-md" id="daterange-btn">
                                    <span>
                                        <i class="fa fa-calendar"></i> Выберите дату
                                    </span>
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <!-- LINE CHART -->
                    <div class="box box-primary hash-rate overall">
                        <div class="box-header with-border">
                            <h3 class="box-title">Общий хеш рейт</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="cs-loader miniloader" style="text-align: center; width:100%;">
                                <div class="cs-loader-inner">
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                </div>
                            </div>
                            @*<div class="overlay">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>*@
                            <div class="box-body legend" style="display:none">
                                <div class="legend-item">
                                    <span class="name">Средний хеш рейт (Mh/s)</span>
                                    <span class="badge"></span>
                                </div>
                            </div>
                            <div class="chart animated bounceIn" id="overall-line-chart-hash" style="display:none">
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <div class="box box-primary hash-rate partial">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="padding: 5px;">Хеш рейт по майнерам</h3>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="cs-loader miniloader" style="text-align: center; width:100%;">
                                <div class="cs-loader-inner">
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                </div>
                            </div>
                            @*<div class="overlay">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>*@
                            <div class="box-body legend" style="display:none">

                            </div>
                            <div class="chart animated bounceIn" id="partial-line-chart-hash" style="display:none">
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                    <!-- BAR CHART -->
                    <div class="box box-primary">
                        <div class="box-header with-border dgb" style="display:flex;">
                            <div style="width:20%;padding:5px">
                                <h3 class="box-title">Намайнено DGB</h3>
                            </div>
                            <div class="cs-loader miniloader" style="text-align: center; width:80%;">
                                <div class="cs-loader-inner">
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                </div>
                            </div>
                        </div>
                        <div class="box-body chart-responsive">
                            <div class="cs-loader miniloader" style="text-align: center; width:100%;">
                                <div class="cs-loader-inner">
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                    <label>	●</label>
                                </div>
                            </div>
                            @*<div class="overlay">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>*@
                            <div class="chart animated bounceIn" id="bar-chart-payout" style="display:none">
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer" class="inner-page">
    <div class="footer-pane">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="copyright">© 2017 ILGOL. All Rights Reserved</div>
            </div>
        </div>
    </div>
</footer>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        async function getOverallCharts(res) {
            Morris.Line({
                element: 'overall-line-chart-hash',
                resize: true,
                data: res.OverallHashRate,
                xkey: 'Date',
                ykeys: ['HashRate'],
                labels: ['Хеш рейт (Mh/s)'],
                lineColors: ['#1a8ca5'],
                hideHover: 'auto',
                ymax: 'auto',
                ymin: 'auto'
            });
        }
        var object = {
            key: function (n) {
                return this[Object.keys(this)[n]];
            }
        };

        function key(obj, idx) {
            return object.key.call(obj, idx);
        }

        async function getPartialCharts(res) {
            var morrisLine = Morris.Line({
                element: 'partial-line-chart-hash',
                resize: true,
                data: res.PartialHashRate,
                xkey: 'Date',
                ykeys: ['SQ1', 'SQ2', 'SQ3', 'SQ4', 'SQ5', 'SQ6', 'SQ7', 'SQ8', 'SQ9', 'SQ10'],
                labels: ['SQ1 (Mh/s)', 'SQ2 (Mh/s)', 'SQ3 (Mh/s)', 'SQ4 (Mh/s)', 'SQ5 (Mh/s)', 'SQ6 (Mh/s)', 'SQ7 (Mh/s)', 'SQ8 (Mh/s)', 'SQ9 (Mh/s)', 'SQ10 (Mh/s)'],
                hideHover: false,
                ymax: 'auto',
                ymin: 'auto',
                hoverCallback: function (index, options, content) {
                    this.xlabelAngle = 30;
                    $(".partial .legend").html("");
                    $(".time").remove();
                    var data = [];
                    for (var i = 1; i < 11; i++) {
                        $(".partial .legend").append(
                            `<div class="legend-item">
                                <span class="name">` + options.labels[i - 1] + `</span>
                                <span class="badge" style="background-color:` + options.lineColors[i - 1] + `">` + key(options.data[index], i) + `</span>
                            </div>`
                        );
                    }
                    $(".partial .box-header").append(`<label class="time label-primary" style="margin: 0;border-radius: 10px;float: right;padding: 5px;"><i class="fa fa-clock-o" style= "font-size:17px"> ` + key(options.data[index], 0) + `</i></label>`);
                },
                lineColors: ["#4b42bc", "#6d8035", "#6cbad8", "#e9264e", "#14674b", "#e8e092", "#763379", "#42ee59", "#f030ba", "#9f9fa7"]
            });
        }

        async function getPayoutCharts(res) {
            Morris.Bar({
                element: 'bar-chart-payout',
                resize: true,
                data: res.Payout,
                xkey: 'Date',
                ykeys: ['Payout'],
                labels: ['Намайнено DGB'],
                lineColors: ['#1a8ca5'],
                hideHover: 'auto',
                ymax: 'auto',
                ymin: 'auto',
                barSizeRatio: 0.3,
            });
        }
        async function loadCharts(startDate, endDate) {
            $.ajax({
                url: '@Url.Action("GetData", "Statistic")',
                method: 'POST',
                data: { startDate: startDate, endDate: endDate },
                beforeSend: function () {
                    clearChartArea();
                    $(".img").show();
                },
                success: function (res) {
                    var isExist = false;
                    if (res.OverallHashRate.length != 0) {
                        var hash = 0;
                        $(res.OverallHashRate).each(function (index, element) {
                            hash += element.HashRate;
                        });
                        $(".overall .legend-item .badge").text(Math.round(hash * 100 / res.OverallHashRate.length) / 100);
                        $("#overall-line-chart-hash").show();
                        getOverallCharts(res);
                        isExist = true;
                    }
                    else {
                        notFoundForOverallArea();
                    }
                    if (res.Payout.length != 0) {
                        Total_Count = res.Payout[res.Payout.length - 1].Payout;
                        getMoney();
                        $("#bar-chart-payout").show();
                        getPayoutCharts(res);
                        isExist = true;
                    }
                    else {
                        notFoundForPayoutArea();
                    }
                    if (res.PartialHashRate.length != 0) {
                        $("#partial-line-chart-hash").show();
                        getPartialCharts(res);
                        isExist = true;
                    }
                    else {
                        notFoundForPartialArea();
                    }
                    if (isExist) {
                        $(".miniloader").hide();
                        //$(".overlay").hide();
                        $(".legend").show();
                        $.jGrowl("Графики отображают данные с " + moment(startDate).locale("ru").format('DD MMMM YYYY HH:mm') + " по " + moment(endDate).locale("ru").format('DD MMMM YYYY HH:mm'), {
                            sticky: false,
                            position: 'top-right',
                            theme: 'bg-green'
                        });
                    }
                },
                error: function () {
                    $.jGrowl("Что-то пошло не так при выводе графиков, попробуйте еще раз", {
                        sticky: false,
                        position: 'top-right',
                        theme: 'bg-orange'
                    });
                },
                complete: function () {
                    $(".img").hide();
                }
            });
        }
        function notFoundForOverallArea() {
            $("#overall-line-chart-hash").parent().parent().hide();
            $.jGrowl("Не найдено данных для общего хеш рейта. Попробуйте изменить параметры поиска", {
                sticky: false,
                position: 'top-right',
                theme: 'bg-orange'
            });
        }
        function notFoundForPayoutArea() {
            $("#bar-chart-payout").parent().parent().hide();
            $.jGrowl("Не найдено данных о количестве намайненого DGB. Попробуйте изменить параметры поиска", {
                sticky: false,
                position: 'top-right',
                theme: 'bg-orange'
            });
        }
        function notFoundForPartialArea() {
            $("#partial-line-chart-hash").parent().parent().hide();
            $.jGrowl("Не найдено данных о хеш рейте по майнерам. Попробуйте изменить параметры поиска", {
                sticky: false,
                position: 'top-right',
                theme: 'bg-orange'
            });
        }
        function clearChartArea() {
            $(".chart svg").remove();
            $(".chart .morris-hover.morris-default-style").remove();
        }
        var pairs = ["USDT-BTC", "BTC-DGB"];
        var USDT_BTC, BTC_DGB, Total_Count, isAdded = false;
        (function () {
            @{
                endDate = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow, "FLE Standard Time").ToString("yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.GetCultureInfo("ru-RU"));
                startDate = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.UtcNow.AddHours(-24), "FLE Standard Time").ToString("yyyy-MM-dd HH:mm", System.Globalization.CultureInfo.GetCultureInfo("ru-RU"));
            }
            loadCharts('@DateTime.Today.ToString($"{startDate}")', '@DateTime.Today.ToString($"{endDate}")');
            setTimeout(arguments.callee, 3600000);
        })();
        function getMoney() {
            $(".dgb #miniloader").show();
            $.ajax({
                url: '@Url.Action("GetData", "Home")',
                crossDomain: true,
                data: { url: "https://bittrex.com/api/v1.1/public/getticker?market=" + pairs[0] },
                success: function (data) {
                    USDT_BTC = data.result.Last;
                    $.ajax({
                        url: '@Url.Action("GetData", "Home")',
                        crossDomain: true,
                        data: { url: "https://bittrex.com/api/v1.1/public/getticker?market=" + pairs[1] },
                        success: function (data) {
                            BTC_DGB = data.result.Last;
                            if (!isAdded) {
                                $(".dgb").append(`<div class="money" style="display:none;width:80%;display:flex;justify-content:space-between"></div>`)
                                $(".money").append(`<label class="label-primary first" style="margin: 0;border-radius: 10px;float: right;padding: 5px;"><i class="fa fa-usd" style="font-size:17px">` + " DGB к USD: " + Math.round(USDT_BTC * BTC_DGB * Total_Count * 100) / 100 + " $" + `</i></label>`);
                                $(".money").append(`<label class="label-primary second" style="margin: 0;border-radius: 10px;float: right;padding: 5px;"><i class="fa fa-btc" style="font-size:17px">` + " DGB к BTC: " + BTC_DGB + `</i></label>`);
                                $(".money").append(`<label class="label-primary third" style="margin: 0;border-radius: 10px;float: right;padding: 5px;"><i class="fa fa-money" style="font-size:17px">` + " Намайнено DGB: " + Math.round(Total_Count * 100) / 100 + " шт." + `</i></label>`);
                                $(".money").show();
                                isAdded = true;
                            }
                            else {
                                $(".money .first i").text(" DGB к USD: " + Math.round(USDT_BTC * BTC_DGB * Total_Count * 100) / 100 + " $");
                                $(".money .second i").text(" DGB к BTC: " + BTC_DGB);
                                $(".money .third i").text(" Намайнено DGB: " + Math.round(Total_Count * 100) / 100 + " шт.");
                            }
                        },
                    });
                },
            })
            $("#miniloader").hide();
            setTimeout(arguments.callee, 10000);
        }
        $(document).ready(function () {
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'За последние 24 часа': [moment().subtract(24, 'hours').locale("ru"), moment().locale("ru")],
                        'Вчера': [moment().subtract(1, 'days').locale("ru"), moment().subtract(1, 'days').locale("ru")],
                        'Последние 7 дней': [moment().subtract(6, 'days').locale("ru"), moment().locale("ru")],
                        'Последние 30 дней': [moment().subtract(29, 'days').locale("ru"), moment().locale("ru")],
                        'Этот месяц': [moment().startOf('month').locale("ru"), moment().endOf('month').locale("ru")],
                        'Предыдущий месяц': [moment().subtract(1, 'month').startOf('month').locale("ru"), moment().subtract(1, 'month').endOf('month').locale("ru")]
                    },
                    startDate: moment().subtract(29, 'days').locale("ru"),
                    endDate: moment().locale("ru"),
                    "locale": {
                        "separator": " - ",
                        "applyLabel": "Применить",
                        "cancelLabel": "Отменить",
                        "fromLabel": "С",
                        "toLabel": "По",
                        "customRangeLabel": "Выбрать период",
                        "daysOfWeek": [
                            "Вс",
                            "Пн",
                            "Вт",
                            "Ср",
                            "Чт",
                            "Пт",
                            "Сб"
                        ],
                        "monthNames": [
                            "Январь",
                            "Февраль",
                            "Март",
                            "Апрель",
                            "Май",
                            "Июнь",
                            "Июль",
                            "Август",
                            "Сентябрь",
                            "Октябрь",
                            "Ноябрь",
                            "Декабрь"
                        ],
                        "firstDay": 1
                    },
                    drops: 'down',
                },
                function (start, end) {
                    $('#daterange-btn span').html(moment(start._d).locale("ru").format('D MMM YY') + ' - ' + moment(end._d).locale("ru").format('D MMM YY'));
                });
            $('#daterange-btn').on('apply.daterangepicker', function (ev, picker) {
                loadCharts(picker.startDate.format('YYYY-MM-DD 00:00'), picker.endDate.format('YYYY-MM-DD 23:59'));
            });
        });
    </script>
}